body {
    background-color: #ffffff; 
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}


h1, 
h2 {
    color: #313740;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #000000;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    background-color: rgb(171, 143, 128);
    color: white;
    text-decoration: none;
    border: none;
    font-family: 'Archivo', sans-serif;
}

.btn {
    background-color: rgb(171, 143, 128);
    color: white; 
    border: none;
    padding: 13px;
    margin-top: 20px;
    border-radius: 10px;
}



.btn:focus, .btn:active, .btn:visited, .btn:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    background-color: rgb(171, 143, 128);
}

.btn-grid-even {
    background-color: rgb(171, 143, 128);
    color: white; 
    border: none;
    padding: 13px;
    margin-top: 20px;
    border-radius: 10px;
}

  

span {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}


  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  


/* Media Queries that allow webpage to fit smaller screen sizes */ 
@media screen and (max-width: 991px) {
    #weather-dashboard {
        flex: 0 0 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #form{
        flex: 0 0 300px;
        margin-top: 20px;
        margin-bottom: 20px;
         
    }
 
  }
  
  /*If the screen is lesser than 768px, the header and body section will break down vertically, the texts will stack together in multiple lines */
  @media screen and (max-width: 768px) {   
    header {
      flex-direction: column;    
      justify-content: center;
    }
    #weather-dashboard {
        flex-direction: column;
    }

    #form {
        flex: 0 0 200px;
        margin-top: 20px;
        margin-bottom: 20px;  
        
    }
  
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
    .col-xs-12.div_label{
   text-align:left !important;
   }
    main {
      max-width: 1200px;
  
    }
}}